In [139]:

#Imports & Dependencies
!pip install selenium
!pip install splinter
from splinter import Browser
from bs4 import BeautifulSoup
import time 
import pandas as pd

Requirement already satisfied: selenium in /Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages (from selenium) (1.25.8)
Requirement already satisfied: splinter in /Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages (0.14.0)
Requirement already satisfied: selenium>=3.141.0 in /Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages (from splinter) (3.141.0)
Requirement already satisfied: six in /Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages (from splinter) (1.14.0)
Requirement already satisfied: urllib3 in /Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages (from selenium>=3.141.0->splinter) (1.25.8)

In [140]:
!which chromedriver #to find the directory of driver

/usr/local/bin/chromedriver

In [141]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [250]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)
time.sleep(5)

In [251]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [252]:
#get title
#add the classes when selecting to specify
souptitle= soup.select_one("ul.item_list li.slide")
souptitle.find("div", class_= "content_title").get_text()

'AI Is Helping Scientists Discover Fresh Craters on Mars'

In [253]:
news_title = souptitle.find("div", class_= "content_title").get_text()
news_title

'AI Is Helping Scientists Discover Fresh Craters on Mars'

In [254]:
#get body
soupP= soup.select_one("ul.item_list li.slide")
new_p= soupP.find("div", class_= "article_teaser_body").get_text()
new_p

"It's the first time machine learning has been used to find previously unknown craters on the Red Planet."

In [255]:
#get image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
time.sleep(5)

In [256]:
browser.find_by_id("full_image").click()

In [257]:
browser.find_link_by_partial_text("more info").click()
#everytime you open a new link add these:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [258]:
soupimage= soup.select_one("ul li div.download_tiff p a")
soupimage.get("href")

'//photojournal.jpl.nasa.gov/tiff/PIA17046.tif'

In [259]:
url = 'https://space-facts.com/mars/'
browser.visit(url)
time.sleep(5)

In [260]:
#Diameter, Mass, etc.
#Use Pandas to convert the data to a HTML table string.
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

souphtml= soup.select("table")
souphtml[0]

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars"><tbody><tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr><tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr><tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr><tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr><tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr><tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr><tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr><tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr><tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr></tbody></table>

In [261]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [267]:
mars.columns= ["x","y"]
mars

                      x                              y
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [268]:
mars.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [278]:
USGSurl= "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(USGSurl)
time.sleep(5)

In [279]:
#try to see stuff in an image to make sure what's up
browser.find_link_by_partial_text("Cerberus Hemisphere Enhanced").click()
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [280]:
browser.find_link_by_partial_text("Sample")["href"]
#"sample" wont work on for loop

'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [281]:
browser.find_by_css('h3')

In [282]:
# Visit the USGS Astrogeology site
USGSurl="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
moon_url="https://astrogeology.usgs.gov"

browser.visit(USGSurl)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
main = soup.find_all('div', class_='item')

In [290]:
title=[]
moon_img= []
for mars in main:
    title = mars.find('h3').text
    
    #link to image
    url_linkImage = mars.find('a')['href']
    
    #then add the moon url to the link for image to direct the path there
    img_url= moon_url+url_linkImage
    
    #go to site, parse!
    browser.visit(img_url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    #then scrape for the image inside the site and print
    img_original= soup.find('div',class_='downloads')
    hem_url=img_original.find('a')['href']
    print(hem_url)
    
    
    img_data=dict({'title':title, 'img_url':hem_url})
    moon_img.append(img_data)
#no need to     
print (moon_img)

https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]